@tailwind base;
@tailwind components;
@tailwind utilities;


.cart{
    margin-left: 6%;
    font-size: 4rem;
    animation-name: flow;
    animation-duration: 10s;
    animation-fill-mode: backwards;
    animation-iteration-count: 3;
}

@keyframes flow{
    from{ transform: translateX(0) }
    to{ transform: translateX(88.5%) }
}