@tailwind base;
@tailwind components;
@tailwind utilities;

.cart{
    position:absolute;
    top:0;
    font-size: 4rem;
    overflow-x: hidden;
    animation-name: flow;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes flow{
    from{ transform: translateX(100px) }
    to{ transform: translateX(89vw) }
}